table , tr , th, td  {  /* All things*/
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
}

h1#titulo {
  color: teal;
}

h2#subtitulo {
  color: blue;
}

strong {
  color: red;
}

span.destacado {
  color: orange;
}

span.especial {
  color: purple;
}

a { /* links*/
  color: red;
}

a em { /* em in links other color*/
  color: blue;
}

div#adicional p {
  color: olive;
}

div#adicional span#especial{
  color: fuchsia;
}

div#adicional a {
  color: green;
}

caption {
  color: blue;
}

td {
  color: green;
}

td strong {
  color: orange;
}

th {
  color: red;
}

th.especial {
  color: orange;
}
